.App {
  text-align: center;
}

.themed-container{
  /* border: .1px solid red; */
  margin:1% auto;
}

.themed-form{
  margin:1% auto;
  /* border:1px solid blue; */
  text-align: left;
}

.gifGrid{
  display: grid;
  grid-template-columns:25% 25% 25% 25%;
  grid-template-rows: auto auto auto auto auto;
  justify-items: center;
}

.gifCard{
  width: 95%;
  height: 95%;
}
